body {
  background: rgb(241, 238, 238);
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cecaca;
  background: white;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo p {
  font-size: 14px;
  font-weight: 600;
}
.right_box {
  display: flex;
  align-items: center;
  gap: 100px;
}
.circlr {
  border: 1px solid #eaeaea;
  border-radius: 50%;
  padding: 7px;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.work_area {
  display: flex;
}
.show_data_area {
  flex: 1;
}
.data_area_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 20px;
  padding:5px;
}

.tabs_wrapper {
  width: 250px;
  padding: 20px;
  margin-top: 10px;
  background: white;
}
.rightTab_wrapper {
  width: 260px;
  text: black;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tabs {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgb(90, 89, 89);
  color: black;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;

}
.tabs.active {
  background-color: #1b2f62;
  color: white;
}
.rightTab {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  background: white;
}
.home_box{
  background: #FFFDE4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height:180px;
  border-radius: 8px;

}
.home_box h6{
  font-size: 20px;
  font-weight:500;
}

.left_notify{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}
.upgrade_box{
  text-align: center;
  background: #1b2f62;
  color: white;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.upgrade_btn{
  background-color:#849bd8 ;
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
  font-weight: 500;
}

.persong_box{
  border: 1px solid rgb(244, 237, 237);
  border-radius: 20px;
  width: 300px;
  background: white;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.persong_box .num{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color:yellow;
  margin-top: 20px;
}
.name_box h6{
  font-weight: 500;
  font-size: 24px;

}
.name_box p{
  color: green;
}

.name_box_add p{
font-weight: 400;
}

.footer{
  display: none;
}

@media screen and (max-width:769px) {
  .rightTab_wrapper{
    display: none;
  }
  .tabs_wrapper{
    display: none;
  }
.navbar .logo{
  display: none;
}
.right_box .logo{
  display: flex;
}
.right_box{
  width: 100%;
  justify-content: space-between;
}

.footer{
  display: flex;
  background: rgb(231, 231, 216);
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;

}
.footer svg{
  height: 40px;
  width: 30px;
}

    .home_box{
      width:29vw;
      max-height: 100px;
  
    }
    .home_box img{
      height: 50px;
    }
    .home_box h6{
      font-size: 16px;
    }
    .data_area_box{
      gap: 10px;
    }
    .persong_box{
      max-width: 46vw;
    }
  
}